<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login clinica saúde e vida</title>
    <link rel="stylesheet" href="\css\style.css">
</head>
<body>
    <main id="login">
        <div id="container">
            <h1>Login clinica saúde e vida</h1>
            <form id="formLogin">
 
                <input type="email" name="email" id="loginEmail"  placeholder="usuario@gmail.com" required>
                <input type="password" id="loginSenha" minlength="8" placeholder="********" required>

                <button type="submit">Entrar</button>
            </form>
        </div>

    </main>

    <script src="\js\login.js"></script>
    
</body>
</html>